<div class="row">
	<div class="col-md-4">
		<ul>
			<li ng-repeat="bookmark in getAllBookmarks()">
				{{ bookmark.name }}
			</li>	
		</ul>
	</div>
	<div class="col-md-8">
		<h1>Search</h1>

		<input type="search" class="form-control" ng-model="query">
		<button ng-click="search(query)" class="btn btn-primary">find</button>

		<ul class="list-unstyled row">
			<li ng-repeat="album in albums" class="col-sm-4 album">
				<img ng-src="{{ album.images[1].url }}" alt="" class="img-responsive">
				{{ album.name }}
				<a ng-click="saveBookmark(album)" class="btn btn-default btn-xs">save</a>
			</li>
		</ul>
	</div>	
</div>