<div class="row">
	<div class="col-md-4">
		<h3>Bookmarks</h3>
		<ng-include src="'app/bookmarks/bookmarks.html'"></ng-inlude>
	</div>
	<div class="col-md-8">
		<h1>Search</h1>
		<form>
			<input type="search" class="form-control" ng-model="query"/>
			<select ng-model="sortAttr" name="" id="">
				<option value="name">Name</option>
				<option value="id">Id</option>
			</select>
			<input type="checkbox" name="desc" ng-model="desc"/>
			<button ng-click="search(query)" class="btn btn-primary">find</button>
		</form>	

		<pagination ng-model="page" ng-init="page=1" items-per-page="6" total-items="albums.length"></pagination>

		<ul class="list-unstyled row">
			<li ng-repeat="album in albums | paginate:page:6 | orderBy:sortAttr:desc" class="col-sm-4 album">
				<spotify-poster album="album" size="m" title="{{ album.name }}">

				</spotify-poster>
				<bookmark-add item="album"></bookmark-add>
				<bookmark-remove item="album"></bookmark-remove>
			</li>
		</ul>
	</div>	
</div>